%ul
  %li= link_to 'Home', root_path
  %li= link_to @slideset.lecture.title, lecture_path(@slideset.lecture)
  %li= link_to @slideset.title, slideset_slides_path(@slideset)
  - if @slide.title
    %li= link_to @slide.title.annotation, slideset_slide_path(@slideset, @slide)
