%h3 Sie wurden erfolgreich ausgeloggt
%p Wenn sie sich wieder einloggen möchten: #{link_to "Anmeldung", root_path}
%p Wenn sie sich auch bei OpenID ausloggen möchten: #{link_to "OpenID Logout", "https://openid.tzi.de/logout"}

