%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.hidden_field :identity_url, value: 'openid.tzi.org/'
  %div= f.submit "Sign in", class: "autoclick"
= render :partial => "devise/shared/links"
