<%= form_for(@annotation) do |f| %>

  <div class="field">
    <%= f.label :annotation %><br />
    <%= f.text_field :annotation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
