@import "bootstrap"

div#header_left
  float: left

div#header_right
  margin-right: 10px
  float: right

div#searchbox
  ul
    > li
      display: inline-block

.logout
  float: right
  margin: 0

.annotation-admin
  display: none

.annotation-surrounding-hide
  display: none

header
  background-color: #E2E2E2
