ol#slides, ol#search_result
  padding: 0
  > li
    background: #eee
    border: 1px solid #ccc
    display: inline-block
    padding: .5em
    width: 200px
    
    &:hover
      background: #ffc
      border-color: #666
    
    .image
      text-align: center
    .functions
      text-align: center
      opacity: 0.5
    &:hover .functions
      opacity: 1
    
    .title
      min-height: 2em

ol.sortable
  > li
    cursor: move
