<h1>Listing slidesets</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @slidesets.each do |slideset| %>
  <tr>
    <td><%= link_to "#{slideset.title} (#{slideset.slides.count} Slides)", [slideset, :slides] %></td>
    <td><%= link_to 'Edit', edit_slideset_path(slideset) %></td>
    <td><%= link_to 'Destroy', slideset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="footer_menu">
<%= link_to 'New Slideset', new_slideset_path %>
</div>
