%ul{:id => "page_path"}
  %li= link_to 'Home', root_path
  >
  %li= link_to @slideset.lecture.title, lecture_path(@slideset.lecture)
%h1 New slideset
= render 'form'
.footer_menu
  = link_to 'Back', lecture_path(@lecture)
